DownloadMp4/Addrs.txt
DownloadMp4/Now*.txt
DownloadMp4/downloader2.py

*.pyc

GenerateLabtalkFunctionsHTML/html.txt
GenerateLabtalkFunctionsHTML/LTFuncsE.txt
GenerateLabtalkFunctionsHTML/LTFuncsG.txt
GenerateLabtalkFunctionsHTML/LTFuncsJ.txt
GenerateLabtalkFunctionsHTML/Default?.html
GenerateLabtalkFunctionsHTML/lib/*
GenerateLabtalkFunctionsHTML/images/*
